{% block map %}
        <div clas="row">
            <div class="col-md-6 col-lg-6 col-sm-1 videos-row">

            </div>
            <div class="col-md-6 col-lg-6 col-sm-1">
                <div id="map-canvas"></div>
            </div>
        </div>

    <script>
        $(document).ready(function() {
            var map = new GMaps({
                div: '#map-canvas',
                lat: 0,
                lng: 0,
                zoom:10,
                dragend: function(e) {
                    mark = [];
                    $.each(markers,function(key,val) {
                        contains = map.getBounds().contains(val.getPosition());
                        if (contains) {
                            mark.push(val['id']);
                        }
                    });
                    generateVideos(mark);

                },
                zoom_changed: function(e) {
                    mark = [];
                    $.each(markers,function(key,val) {
                        contains = map.getBounds().contains(val.getPosition());
                        if (contains) {
                            mark.push(val['id']);
                        }
                    });
                    generateVideos(mark);

                },
                tilesloaded: function(e) {
                    GMaps.geocode({
                        address: "{{ location }}",
                        callback: function(results, status) {
                            if (status == 'OK') {
                                var latlng = results[0].geometry.location;
                                map.setCenter(latlng.lat(), latlng.lng());
                            } else {
                                //could not find the location
                            }
                        }
                    });
                    mark = [];
                    $.each(markers,function(key,val) {
                        contains = map.getBounds().contains(val.getPosition());
                        if (contains) {
                            mark.push(val['id']);
                        }
                    });
                    generateVideos(mark);
                }
            });

            var markers = [];
            {% for video in videos %}
                markers.push(
                    map.addMarker({
                        lat:  {{ video.latitude }},
                        lng: {{ video.longitude }},
                        title: 'aaaaa',
                        id: '{{ video.id }}',
                        click: function(e) {
                            console.log('You clicked in this marker');
                        },
                        infoWindow: {
                             content: '<p>HTML Content</p>'
                        }
                    })
                );
            {% endfor %}

        function generateVideos(markers) {
            var data;
            $.post('{{ path('konani_video_json') }}',{'videos':markers},function(visual) {
                data = visual;
            });
            $(document).ajaxComplete(function(event,request, settings) {
                $('.videos-row ul').remove();
                $('.videos-row').append(data);
            });
        }
        });
    </script>

{% endblock %}