<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Konani Video Geotagging{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@jqueryui_css' '@bootstrap_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
        {% endstylesheets %}
        <link href="{{ asset('bundles/frontend/styles/styles.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
    {% javascripts '@jquery_and_ui_js' '@bootstrap_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="container-fluid">
    {% include 'header.html.twig' %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>
{% include 'footer.html.twig' %}
{% block javascripts %}{% endblock %}
</body>
</html>
