{% extends '::base.html.twig' %}

{% block body %}
    {% if params.authUrl is defined %}
        <h3>Authorization Required</h3>
        <p>You need to <a href="{{ params.authUrl }}">authorize access</a> before uploading a video.<p>
    {% else %}
        <h3>You're successfully authenticated</h3>
        {% if (params.channelLinked is defined) and (params.channelPrivacy is defined) %}
            {% if (params.channelLinked) and (params.channelPrivacy == 'public') %}
                <p>You can upload your videos <a href="{{ path('video_uploaded') }}">here</a>.</p>
            {% else %}
                <p>You have to <a target="_blank" href="https://www.youtube.com/create_channel?chromeless=1&next=/channel_creation_done">create a public channel</a> before uploading and then <a href="{{ path(app.request.attributes.get('_route')) }}">refresh</a> this page.</p>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if params.errors.service is defined %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            A service error occurred: <code>{{ params.errors.service }}</code>
        </div>
    {% endif %}
    {% if params.errors.client is defined %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {% if '401' in params.errors.client %}
                Error: You have to link your account to youtube channel.
            {% else %}
                An client error occurred: <code>{{ params.errors.client }}</code>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

