{% extends '::base.html.twig' %}

{% block body %}
    <div id="map-canvas"></div>
    <div class="alert alert-dismissible hidden" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        Please tag video location by double clicking on the map.
    </div>
    {{ form(form) }}
{% endblock %}

{% block header_block %}
    {% include '::header_small.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var map;
        var markers = [];

        // Initializes google map
        function initialize() {
            var mapOptions = {
            {% if location.found %}
                center: { lat: {{ location.lat }}, lng: {{ location.lng }} },
                zoom: 10,
            {% else %}
                center: { lat: 52.64, lng: 28.91 },
                zoom: 5,
            {% endif %}
                disableDoubleClickZoom: true
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            google.maps.event.addListener(map, "dblclick", function (event) {
                deleteOverlays();
                var markernew = createMarker(event.latLng,'');
                markers.push(markernew);

                updateInputs(markernew);

                google.maps.event.addListener(markernew, 'dragend', function(evt) {

                    updateInputs(markernew);

                });

            });
        }

        // Creates map marker
        function createMarker(point,html)
        {
            var marker=new google.maps.Marker({map:map,position:point,draggable:true,icon:"{{ asset ('img/video_icon.png') }}"});
            markers.push(marker);
            return marker;
        }

        // Updates inputs based on market coordinates
        function updateInputs(marker) {
            var lat = marker.position.lat();
            var lng = marker.position.lng();

            $('#form_latitude').val(lat);
            $('#form_longitude').val(lng);
        }

        // Sets the map on all markers in the array.
        function setAllMap(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the overlays from the map, but keeps them in the array.
        function clearOverlays() {
            setAllMap(null);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteOverlays() {
            clearOverlays();
            markers = [];
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}
