{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {% if video.items|length > 0 %}
                {% for item in video.items %}
                    <h1>{{ item.snippet.title }}</h1>
                    <p>{{ item.snippet.description }}</p>
                    <iframe type='text/html' src='http://www.youtube.com/embed/{{ item.id }}' width='640' height='360' frameborder='0' allowfullscreen='true'></iframe>
                {% endfor %}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Video not found in youtube. It has been removed or privacy settings was changed.
                </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div id="map-canvas"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        var map;
        var markers = [];

        // Initializes google map
        function initialize() {
            var mapOptions = {
                center: { lat: {{ coordinates.latitude }}, lng: {{ coordinates.longitude}} },
                zoom: 8
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var markernew = createMarker(new google.maps.LatLng({{ coordinates.latitude }}, {{ coordinates.longitude}}),'');
            markers.push(markernew);
        }

        // Creates map marker
        function createMarker(point,html)
        {
            var marker=new google.maps.Marker({map:map,position:point,draggable:true});
            markers.push(marker);
            return marker;
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}
