{% extends '::base.html.twig' %}

{% block header_block %}
    {% include '::header_small.html.twig' %}
{% endblock %}

{% block body %}
    <div class="not_full">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">My tagged videos</h1>
            </div>
            <div class="panel-body">
                <a class="btn btn-success" href="{{ path('video_new_tag') }}" >
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Tag video
                </a>
                <br><br>
                {% if taggedVideos|length > 0 %}
                    <table class="table">
                        <tr>
                            <th>Video</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                        {% for video in taggedVideos %}
                            <tr>
                                <td><a href="{{ path('video_page', {'id':video.id}) }}"><img class="img-thumbnail" src="http://img.youtube.com/vi/{{ video.youtubeId }}/1.jpg"/></a></td>
                                <td>{{ video.latitude }}</td>
                                <td>{{ video.longitude }}</td>
                                <td>{{ video.createdAt|date("Y-m-d h:i") }}</td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="{{ path('video_delete_tagged', {'id': video.id}) }}" >
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete video tag
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                {% else %}
                    No tagged videos...
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}