{% extends '::base.html.twig' %}

{% block body %}
    <h1>My Tagged Videos</h1>
    <a class="btn btn-default" href="{{ path('video_new_tag') }}" >
        <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span> Tag video
    </a>
    <br><br>

    {% if taggedVideos is defined %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        {% for video in taggedVideos %}
            <tr>
                <td>{{ video.youtubeId }}</td>
                <td>{{ video.latitude }}</td>
                <td>{{ video.longitude }}</td>
                <td>{{ video.createdAt|date("Y-m-d h:i") }}</td>
                <td>
                    {#<a class="btn btn-danger btn-sm" href="{{ path('video_delete_tagged', {'id': video.id}) }}" >
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete video
                    </a>#}               </td>
            </tr>

        {% endfor %}
        </table>
    {% endif %}
{% endblock %}