{% extends '::base.html.twig' %}

{% block body %}
    <div class="container video-grid">
        {% if city %}
            <h1>Videos near your location {{ city }}, {{ region }}</h1>
            {% if videos|length > 0 %}
            <ul class="medium-block-grid-2 small-block-grid-1 large-block-grid-3">
                {% for id, video in videos %}
                    <li><h2><a href='{{ path('video_page', {'id':id} ) }}'>{{ video.youtube.snippet.title }}</a></h2>
                        {#<iframe width="300" height="230" src="//www.youtube.com/embed/{{ video.youtubeId }}" frameborder="0" allowfullscreen></iframe>#}
                        <a href='{{ path('video_page', {'id':id} ) }}'><img class="img-thumbnail" height="{{ video.youtube.snippet.thumbnails.medium.height }}" width="{{ video.youtube.snippet.thumbnails.medium.width }}" alt="{{ video.youtube.snippet.title }}" title="{{ video.youtube.snippet.title }}" src="{{ video.youtube.snippet.thumbnails.medium.url }}"/></a>
                        {% if video.location %}<p>Near <i>{{ video.location.name }} ({{ video.location.address }})</i></p>{% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No videos found...</p>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Unable to determine your location.
            </div>
        {% endif %}
    </div>
{% endblock %}